{% extends "shop/main.html" %} {% block content %}

<!-- about the site -->
<section class="container text-capitalize about">
  <div class="row">
    <!-- about -->
    <div class="col-12">
      <h3 class="text-decoration-underline">About US</h3>
      <p class="ms-3 text-justify" style="font-size: 1.5rem">
        Welcome to shopify, your one-step online destination for a diverse range
        of produscts that cater to all you needs and preference, we blieve that
        shopping should be a delightful and hassle-free experience, and our
        mission is to offer you the best in quality,variety, and,convenience
      </p>
    </div>

    <!-- our story -->
    <div class="col-12">
      <h3 class="text-decoration-underline">Our Story</h3>
      <p class="ms-3 text-justify" style="font-size: 1.5rem">
        shopify was founded with a vision to simlify online shopping by
        providing a wide array of prodect inder on roof. we strive to offer
        something for everyone, whether you're looking for the latest fashion
        tresnde,gaming essentials,cutting-edge electroincs,or household items.
      </p>
    </div>

    <!-- our prodect -->
    <div class="col-12">
      <h3 class="text-decoration-underline">What we offer</h3>
      <ul>
        <li>
          <h4>Outfits</h4>
          <p class="ms-4" style="font-size: 1.5rem">
            discover a vast collection of clothing for men and womens ranging
            from casual wear to formal attire , party wear,<br />
            all curated to keep you stylish and comfortable
          </p>
        </li>
        <li>
          <h4>games</h4>
          <p class="ms-4" style="font-size: 1.5rem">
            find your next adventure with our section of video games, board
            games, and gaming accessories for nuthusiasts of all ages.
          </p>
        </li>
        <li>
          <h4>electroincs</h4>
          <p class="ms-4" style="font-size: 1.5rem">
            stay ahead of the tech cureve with our assortment of gadgets,
            devices, and home electronics designed to enhange your daily life.
          </p>
        </li>
        <li>
          <h4>accessories</h4>
          <p class="ms-4" style="font-size: 1.5rem">
            complement your lifestyle with our range of accessories ,including
            bsgsmshoes,jewelry, and more.
          </p>
        </li>
        <li>
          <h4>sports</h4>
          <p class="ms-4" style="font-size: 1.5rem">
            gear up for action with our sports collection, featuring
            equipment,apparel,and accessoriesfor a variety of sports and fitness
            activities
          </p>
        </li>
      </ul>
    </div>

    <!-- our promise -->
    <div class="col-12">
      <h3 class="text-decoration-underline">our promise</h3>
      <p class="ms-3 text-justify" style="font-size: 1.5rem">
        at shopify, customer satisfaction is at tha heart of everything we do.
        we are commited to delivering high-qulity prodectat competitive peice,
        <br />ensuring a seamless shopping experience with secure payment option
        and fest, reliable delivery.<br /><br />than you for choosing shopify.
        we look forward to serving you and becoming your favorite online
        shopping destination!
      </p>
    </div>
  </div>
</section>

{% endblock content %}
