{% extends "shop/main.html" %} {% block content %} {% load static %}
<!-- login page  -->

<div class="container">
  <h1 class="text-center mt-5 mb-4">UserLogin</h1>
  <hr />

  <div class="py-4 my-5">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form action="" method="post">
            {% csrf_token %}
            <div class="user">
              <label for="" class="form-label">User Name</label>
              <input
                type="text"
                placeholder="Enter Your Name"
                name="username"
                id="username"
                class="form-control"
              />
            </div>
            <div class="mb-4">
              <label for="" class="form-label">password</label>
              <input
                type="text"
                placeholder="Enter Your password"
                name="password"
                id="password"
                class="form-control"
              />
            </div>
            <button class="btn btn-primary">Login</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
