{% extends "shop/main.html" %} {% block content %} {% load static %}
<!-- login page  -->

<div class="container">
  <h1 class="text-center mt-5 mb-4">Register</h1>
  <hr />

  <div class="py-4 my-5">
    <div class="container">
      <div class="row">
        <div class="col-6">
          <form action="" method="post">
            {% csrf_token %}
            <div class="mb-4">
              <label for="" class="form-label">User Name</label>
              {{form.username}} {% if form.errors.username %}
              <label
                for=""
                class="text-danger"
                {{form.errors.username}}
              ></label>
              {% endif %}
            </div>
            <div class="mb-4">
              <label for="" class="form-label">Email</label>
              {{form.email}} {% if form.errors.email %}
              <label for="" class="text-danger" {{form.errors.email}}></label>
              {% endif %}
            </div>
            <div class="mb-4">
              <label for="" class="form-label">Password</label>
              {{form.password1}} {% if form.errors.password1 %}
              <label
                for=""
                class="text-danger"
                {{form.errors.password1}}
              ></label>
              {% endif %}
            </div>
            <div class="mb-4">
              <label for="" class="form-label">Confirm Password</label>
              {{form.password2}} {% if form.errors.password2 %}
              <label
                for=""
                class="text-danger"
                {{form.errors.password2}}
              ></label>
              {% endif %}
            </div>
            <button class="btn btn-primary">Register</button>
          </form>
          <p class="my-2">Already User? <a href="#">Login Now</a></p>
        </div>
        {% load socialaccount %}
    
        {% if user.is_authenticated %}
        <p>Debug User: {{ user }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Username: {{ user.username }}</p>
        <a href="{% url 'account_logout' %}">Logout</a>   
        {% else %}
          <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock content %}
